

.logo {
  height: 3em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  padding: 2em;
  color: white;
  justify-content: space-evenly;
  flex-direction: column;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f0eeeeaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ecececaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* div {
  display: flex;
  flex-direction: row;
  gap: 1em;
} */