* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #61dafb;
  --secondary: #282c34;
  --tertiary: #646cff;
  --quaternary: #888;
}
.logo {
  height: 3em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  padding: 1em;
  color: white;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f0eeeeaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ecececaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3em;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}