.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
}
body{
  background-image: url("assets/doodle2.jpg");
  background-size: cover; /* You can adjust this as needed */
  justify-content: center ;
}
root{
  background-image: url("doodles1.jpg");
}